<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Todo Lists</title>
    </head>
    <body>
        <main>
            <div>
                <h1>{{ todo_list.name }}</h1>
                <div>
                    <p>
                        <a href="{% url 'todo_list_update' todo_list.id %}">Edit</a>
                    </p>
                    <p>
                        <a href="{% url 'todo_list_delete' todo_list.id %}">Delete</a>
                    </p>
                </div>
                <h2>Tasks</h2>
                <table>
                    <tr>
                        <th>Task</th>
                        <th>Due date</th>
                    </tr>
                    {% for item in todo_list.items.all %}
                        <tr>
                            <td>
                                <a href="{% url 'todo_item_update' todo_list.id %}">{{ item.task }}</a>
                            </td>
                            <td>{{ item.due_date|date:"M j, Y" }}</td>
                        </tr>
                    {% empty %}
                        <p>There are no tasks.</p>
                    {% endfor %}
                </table>
            </div>
        </main>
    </body>
</html>
