<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Todo Lists</title>
    </head>
    <body>
        <main>
            <div>
                <h1>My Lists</h1>
                <div>
                    <p>
                        <a href="{% url 'todo_item_create' %}">Create a new item</a>
                    </p>
                    <p>
                        <a href="{% url 'todo_list_create' %}">Create a new list</a>
                    </p>
                </div>
                <table>
                    <tr>
                        <th>Name</th>
                        <th>Number of items</th>
                    </tr>
                    {% for todo_list in todo_list_list %}
                        <tr>
                            <td>
                                <a href="{% url 'todo_list_detail' todo_list.id %}">{{ todo_list.name }}</a>
                            </td>
                            <td>{{ todo_list.item.count }}</td>
                        </tr>
                    {% empty %}
                        <p>There are no lists.</p>
                    {% endfor %}
                </table>
            </div>
        </main>
    </body>
</html>
